/*
Theme Name: MicroPasts
Theme URI: http://micropasts.org
Description: A child theme built from the wpbootstrap theme for the MicroPasts project
Author: Adi Keinan-Schoonbaert
Author URI: http://micropasts.org
Template: wpbootstrap
Version: 1.0
Tags: responsive, white, bootstrap
Text Domain: micropasts

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/
*/

@import url("../wpbootstrap/style.css");
@import url('bootstrap/css/bootstrap.css');
@import url('bootstrap/css/bootstrap.min.css');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');


/* MAIN */

html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  background-color: #000;
  font-family: Arial, Helvetica, Sans-Serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
.wrap {
  min-height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  overflow: auto;
  padding-bottom: 145px
}
.top-container {
  height: 80px;
}
.push {
  height: 120px;
}
.mainpage {
  text-align: center;
}
.figurines {
  width: auto;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.learning-list-1 {
  padding-left: 22px; 
  text-align: left;
}
.learning-list-2 {
  padding-left: 27px; 
  text-align: left;
}


/* HEADER */

.header-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.logo {
  padding-right: 20px;
  float: left;
}
.navbar-fixed-top {
  top: 0;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
  border-width: 0 0 1px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
} 
.menu-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.navbar-header {
  padding-top: 10px;
}
.navbar-collapse {
  float: left;
}
.navbar-collapse ul {
  padding-top: 4px;
}
.navbar-toggle {
  margin-top: 0px;
}
.navbar-nav ul li.active a {
  color: #fff;
}
.navbar-nav a {
  font-size: 13px;
}


/* FOOTER */

.footer {
  background-color: #000;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: -145px; 
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  position: relative;
  height: 145px;
  clear: both;
}
.footer ul {
  text-align: center;
}
.footer li {
   display: inline;
}
.footer a {
  color: #D6D6D6;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.logoFooter {
  padding-top: 10px;
}


/* JUMBOTRONS */

.jumbotron {
  padding: 30px;
  padding-bottom: 15px;
  background-color: rgba(238, 238, 238, 1);
}
.jumbotron-transparent {
  padding: 15px;
  margin-bottom: 30px;
  width: 100%;
  background: transparent;
}
.jumbotron-small {
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 6px;
  padding-bottom: 10px;
  background-color: #eee;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.jumbotron-page {
  padding: 50px;
  margin-bottom: 30px;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 6px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.jumbotron-page p {
  padding: 3px;
  text-align: left;
  font-size: 14px;	
}
.jumbotron-page h3, h4 {
  text-align:left;
  padding-top: 15px;	
}
.jumbotron-page ul {
  text-align:left;	
}
.jumbotron-small p {
  text-align: left;
  font-size: 14px;
}
.jumbotron-small h3 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;	
}


/* RESPONSIVENESS */

@media screen and (min-width: 768px) {
  .jumbotron-page { 
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  .container .jumbotron-page { 
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .container .jumbotron { 
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-container {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
  .jumbotron-transparent { 
    width: 850px;
    margin-right: auto;
    margin-left: auto;
  }
  .jumbotron-page { 
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
  .jumbotron-small { 
    width: 253px;
    height: 200px;
  }
  .navbar-fixed-top { 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .container .jumbotron-page { 
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
  .btn-primary {
    position: absolute; 
    bottom: 0;
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .container .jumbotron { 
    width: 900px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-container {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
  }
  .jumbotron-transparent { 
    width: 950px;
    margin-right: auto;
    margin-left: auto;
  }
  .jumbotron-page { 
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
  .jumbotron-small { 
    width: 286px;
    height: 200px;
  }
  .btn-primary {
    position: absolute; 
    bottom: 0;
    margin-bottom: 15px;
  }
  .navbar-fixed-top { 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .footer {
    width: 1200px;
  }
}

@media (max-width: 992px) {
  .home-push {
    height: 100px;
  } 
  .push {
    height: 200px;
  }  
  .footer {
    height: 230px;
    margin-top: -230px; 
  }
}